# Ignore node_modules (MERN stack uses this)
node_modules/

# Ignore log files
*.log

# Ignore build directories
build/
dist/

# Ignore .env files (Keep your environment variables private)
.env

# Ignore system files (macOS and Windows system files)
.DS_Store
Thumbs.db

# Ignore Payment and Inventory folder files
Payment/*
Inventory/*
